/data/raw/
/data/processed/interactions.parquet
/data/processed/train.parquet
/data/processed/test.parquet
/data/processed/user_id_map.parquet
/data/processed/item_id_map.parquet
__pycache__/
*.pyc
.env
*.egg-info/
dist/
build/
.pytest_cache/
.venv/
.vscode/
.idea/
